<!doctype html>
{% load static %}

{% block content %}

<html lang="en">
   <head>
   <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
   <style>

      body {margin: 0;}
      .header {height: 100px; width:89.9%; background-color:#417690; color:#ffc; margin-left:5%; padding: 0px;  text-align: center;}

   </style>
   </head>
   <body style = "background-color: rgba(0, 255, 0, 0.02)">
    <script type="text/babel">

      function tick() {
      const element = (

       <h5>{new Date().toLocaleTimeString()}.</h5>

       );
       ReactDOM.render(element, document.getElementById('root'));
        }
      setInterval(tick, 1000);

    </script>

      <div class="header">

       <h2 align="center">FinancePeer.com<br>Home Page</h2>
          <h4 style="margin-top:-1.0%" id="root"  align="center"></h4>

      </div>

      <section style="border: 15px solid #417690; width: 1370px;margin-top: .5%;
                        margin-left:5%; height: 575px;
                        border-width: thick;">

            <div style = "max-width:770px;border: 20px solid #417690; width: 350px;
                        margin-left:38%; height: 350px; margin-top:7.6%;
                        border-width: thick;" >
                <h3 title="Welcome to FinancePeer.com" align="center" style = "border:2px; background-color:#417690; color:#ffc; margin-top:20%;
                  height:45px; width:220px;margin-left:18.5%;">Welcome to <br>Financepeer.com</h3>
                <table style="margin-top:20%"><tr><td>
            <form title="Admin Login" style="margin-top:0%;" id="Admin" name = "formAdmin"
                  action = "{% url 'admin' %}"  method = "POST" >{% csrf_token %}


               <button style = "border:2px; background-color:#417690; color:#ffc; margin-top:0%;
                  height:35px; width:120px;margin-left:25%;" type = "submit"
                  value = "admin" >
                  <strong>FinancePeer Admin</strong>
               </button>
      </form></td>

      <td><form title="User Login" id="Myapp" data-value="formMyapp"
                name = "formMyapp" action = "{% url 'loginMSI' %}"  method = "POST" >{% csrf_token %}
            <center>
               <button style = "border:2px; background-color:#417690; color:#ffc;  margin-top:0%;
                  height:35px; width:120px;margin-left:50%;" type = "submit"
                  value = "myapp" >
                  <strong>FinancePeer User</strong>
               </button>

            </center>
      </form></td></tr></table>
      </div>
      </section>

   {% endblock content %}
   </body>
</html>
